.service-card p{
    text-decoration: none;
}

.service-section h1,p{
    padding-left: 0.5rem
}

.service-section p{
    margin-top: 0.5rem;
}

.cards{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.service-card{
    color: #fff;
    padding: 1rem;
    display: flex;
    margin: 0 8px;
    justify-content: space-between;
    flex-direction: column;
    height: 400px;
    width: 33.3%;
    transition: 0.1s ease all;
    background-size: cover;
    background-repeat: no-repeat;
}

.service-card:first-child{
    margin-left: 0;
}

.service-card:last-child{
    margin-right: 0;
}

.service-card:hover{
    cursor: pointer;
    transform: scale(1.01);
}

#service-card-img-hair{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/peinado.jpg");
}

#service-card-img-manicure{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/manicure.jpg");
}

#service-card-img-products{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/productos_belleza1.jpg");
}

.service-card .title{
    font-size: 24px;
    font-weight: 500;
}


.service-card .description{
    font-size: 1rem;
    margin-bottom: 8px;
    text-align: center;
}

@media (max-width: 991px) {
    .cards {
      flex-direction: column;
      padding: 0;
    }
    
    .service-card{
        width: 100%;
        transition: none;
        margin: 8px 0;
    }

    .service-card:hover{
        transform: scale(1);
    }

    .service-card:first-child{
        margin-top: 0;
    }
    
    .service-card:last-child{
        margin-bottom: 0;
    }
}