.profile-section{
    padding: 1rem;
}

.profile-section p{
    font-weight: 400;
    margin-top: 0.5rem;
}

.personal-data-title{
    display: flex;
    align-items: center;
}

.personal-data-title a{
    margin-left: 1rem;
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
}

.profile-section .data-section{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.profile-general-data{
    display: flex;
    justify-content: center;
}

.profile-additional-data{
    display: flex;
    justify-content: center;
}

.user-data{
    margin-top: 1.5rem;
}
.user-data:first-child{margin-top: 0px;}

@media (max-width: 991px) {
    .profile-section .data-section{
        flex-direction: column;
    }

    .profile-general-data{
        display: flex;
        justify-content: flex-start;
    }
    
    .profile-additional-data{
        display: flex;
        justify-content: flex-start;
    }
}